app.lms.localhost {
    handle /api/* {
        reverse_proxy localhost:3000
    }

    handle {
        reverse_proxy localhost:5173
    }
}

:8888 {
    handle /api/* {
        reverse_proxy localhost:3000
    }

    handle {
        reverse_proxy localhost:5173
    }
}

api.lms.localhost {
    handle {
        reverse_proxy localhost:3000
    }
}


mailbox.lms.localhost {
	reverse_proxy localhost:8025
}

storage.articulate.localhost {
	reverse_proxy localhost:8069
}
